<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel = "stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>

    
    <div id = "navbar">
  
        <img src = "/images/logo.png">

      <div id = "home"><a href="/">Home</a></div>

        <div id = "search_form">
        <input type="text" id = "search-box" placeholder="Search...">
        <input type = "button" id = "search-btn" value = "Search">
        </div>
       <% if (locals.user){  %>

            <div id = "Account">
                 <a href="#">
                    <%= locals.user.name %> 
                 </a>

                
                 
             </div>

           


       <% }else{ %>

            <div id = "Account"> 
                <a href="/users/public_sign_in">Account</a>
               
            </div>


        <%}%>
      
       <div id = "orders"> <a href="#" >Orders</a> </div>

       <div id="cart">
       
        <a href="/users/products/cart">
            <img src = "https://cdn-icons-png.flaticon.com/512/3144/3144456.png" style = "position: relative;">
            <% if (locals.user && locals.user.email !== 'sanjay139474@gmail.com') {%>
            <span style = "position : absolute; top : 20%; right: 11.7%; color : white; border-radius: 40%;"><%= locals.user.cart.length %></span>
            <%}%>
        </a>
        
            <span style ="color : white; margin-top : 10px;">Cart</span>
        </div>

        <div id = "collapse">
            <img src="/images/menu.png" class="d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive" id = "collapse_img">
        </div>

    </div>
  


    <!-- <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Toggle offcanvas</button> -->



<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-header" id = "header">
    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-lg-none" id = "canvas-body">
    <p class="mx-3" ><a href="/users/public_sign_in" class="text-light text-decoration-none fw-bold">Account</a></p> <hr>
    <p class="mx-3"><a href='#' class="text-light text-decoration-none fw-bold">Orders</a></p><hr>
    <p class="mx-3"><a href='#' class="text-light text-decoration-none"> <a href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" id ="cart-img2">
  </a>
      <span style ="color : white; margin-top : 10px; " class="fw-bold">Cart</span></p><hr>
  </div>
</div>


<% if (locals.user) {%>

<div style="position: fixed; left : 85%; top : 20%;">
    <% if (locals.user.email === "sanjay139474@gmail.com") {%>
    <a href = "/users/AdminProfile"><button class = "btn btn-info">your profile</button></a>
    <% }else { %>
        <a href = "/users/profile/<%= locals.user.id %>"><button class = "btn btn-info">Your Profile</button></a>
        <% } %>
    <a href="/users/logout"><button class="btn btn-danger"> logout </button></a>
 </div>

 <%}%>





 

    
  
    <%- body %>




    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    

    <script src="/js/layout.js"></script>
    <%- script %>
   
  
    <script>
        <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                text : '<%= flash.success %>',
                timeout : 2000,
                theme : 'relax',
                type :'success'
            }).show();
        <% } else if (flash.error && flash.error.length > 0) {%>
            new Noty({
                text : '<%= flash.error %>',
                timeout : 2000,
                theme : 'relax',
                type : 'error'
            }).show();
        <% } else if (flash.info && flash.info.length > 0){ %>

            new Noty({
                text : '<%= flash.info %>',
                timeout : 2000,
                theme : 'relax',
                type : 'info'
            }).show();

        <% } else if (flash.alert && flash.alert.length > 0) {%>
                 new Noty({
                    theme : 'relax',
                    timeout : 2000,
                    type : 'alert',
                    text : '<%= flash.alert %>'
                 }).show();
        <% }else if(flash.warning && flash.warning.length > 0){%>

            new Noty({
                theme : 'relax',
                timeout : 2000,
                type : 'warning',
                text : '<%= flash.warning %>'
            }).show();


        <% } %>
    
    </script>
  
   
</body>
</html>